@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: pink;
}

.main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #343434;
  border: 1px solid red;
  background-color: white;
  font-size: calc(14px + 1vmin);
  height: max-content;
  width: max-content;
}

svg {
  width: calc(40px + 1vmin);
  padding: 1vmin;
  fill: none;
  stroke: #b0b0b0;
  stroke-width: 0.75px;
  stroke-linejoin: round;
}

svg:hover {
  stroke: #2bc5ff;
}

h1,
h2,
p {
  padding: 12px;
  margin: 0;
  font-family:
    'Lato',
    'Helvetica',
    sans-serif;
}
